@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@keyframes heart-fill {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    font-size: 20px;
  }
}

h, #logo {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 19px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 19px;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  padding: 15px 20px;
  position: relative;
  z-index: 1;
  background: linear-gradient(170deg, #eb78e1, #9356DC);
  border-radius: 30px;
  box-shadow: 2px 5px 8px #d9d7d7;
}
.button a {
  color: #fff;
}
.button:hover {
  box-shadow: 4px 7px 10px #a7a3a3;
  /*opacity: 0.8;
  transition-duration: 0.5s;*/
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(170deg, #f09ce9, #a978e3);
  border-radius: 30px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s;
}

header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 10px #c2c2c2;
}
header img {
  width: 200px;
  margin: 20px;
}
header .fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 25px;
  color: #000000;
  font-size: 20px;
}

footer {
  padding: 20px;
  background-color: #423e42;
  color: #fff;
  line-height: 10px;
}
@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer img {
  width: 100px;
  margin-bottom: 10px;
  filter: invert(1);
}
@media screen and (min-width: 768px) {
  footer img {
    display: inline-block;
  }
}
footer a {
  color: #fff;
}
footer li {
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  footer li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer .fa-handshake-angle, footer .fa-utensils {
  width: 30px;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  background-color: #ededed;
  border-top: #d9d7d7 2px solid;
}
.location__icon {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 35px 55px 35px;
  background-color: #f5f7f6;
  border-top: #f5f7f6 1px solid;
}
.explore h1 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 0;
}
.explore p {
  text-align: center;
}

.rules {
  margin: 40px 20px 60px 20px;
}

@media screen and (min-width: 1100px) {
  .rules__cardset {
    display: flex;
  }
}

.rules__cardset__card {
  display: flex;
  position: relative;
  height: 80px;
  margin: 0 0 30px 10px;
  background-color: #f5f7f6;
  border-radius: 30px;
  box-shadow: 2px 5px 8px #d9d7d7;
}
@media screen and (min-width: 768px) {
  .rules__cardset__card {
    width: 70%;
    margin: 30px auto;
  }
}
@media screen and (min-width: 1100px) {
  .rules__cardset__card {
    width: 30%;
  }
}
.rules__cardset__card:hover {
  background-color: #f2eafb;
}
.rules__cardset__card .card_number {
  position: absolute;
  left: -10px;
  top: 25px;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 50px;
}
.rules__cardset__card .icon {
  width: 60px;
  text-align: center;
  margin-left: 15px;
  line-height: 80px;
  color: #757980;
  font-size: 19px;
}
.rules__cardset__card .icon.fa-store {
  color: #9356DC;
}
.rules__cardset__card .fa-mobile-screen-button, .rules__cardset__card .fa-list {
  color: #4a4b4d;
}
.rules__cardset__card p {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .restaurants__cardset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 20px;
  }
}
@media screen and (min-width: 1100px) {
  .restaurants__cardset {
    flex-wrap: nowrap;
  }
}

.restaurants__list {
  background-color: #f5f7f6;
  padding: 20px 0 50px 0;
}
.restaurants__list h2 {
  margin-left: 20px;
}

.restaurants__cardset a {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .restaurants__cardset a {
    width: 50%;
  }
}

.restaurants__cardset__card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 220px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 8px #d9d7d7;
}
@media screen and (min-width: 768px) {
  .restaurants__cardset__card {
    margin: 15px;
  }
}
.restaurants__cardset__card img {
  height: 72%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__cardset__card .label {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #456b4f;
}
.restaurants__cardset__card .restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 5px 20px 10px 15px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}
.restaurants__cardset__card h3, .restaurants__cardset__card p {
  margin: 0;
}
.restaurants__cardset__card .fa-heart {
  font-size: 20px;
  /*transition: background 600ms ease-in-out;*/
}
.restaurants__cardset__card .fa-heart:hover {
  background: linear-gradient(170deg, #eb78e1, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: heart-fill 800ms;
}

.restaurant__pic {
  height: 300px;
}

.restaurant__pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.restaurant__menu {
  position: relative;
  margin-top: -30px;
  padding-bottom: 50px;
  background-color: #f5f7f6;
  border-radius: 30px 30px 0 0;
}
.restaurant__menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 30px 0 20px;
}
.restaurant__menu h1 {
  font-family: "Shrikhand", cursive;
}
.restaurant__menu .fa-heart {
  font-size: 25px;
}
.restaurant__menu__categories {
  padding-bottom: 20px;
}
@media screen and (min-width: 1100px) {
  .restaurant__menu__categories {
    display: flex;
    justify-content: center;
  }
}
.restaurant__menu__starters, .restaurant__menu__maincourses, .restaurant__menu__desserts {
  margin: 20px 15px 50px 15px;
}
@media screen and (min-width: 1100px) {
  .restaurant__menu__starters, .restaurant__menu__maincourses, .restaurant__menu__desserts {
    width: 30%;
    font-size: 16px;
  }
}
.restaurant__menu h2 {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: normal;
}
.restaurant__menu .line--mint {
  height: 4px;
  width: 50px;
  background-color: #99E2D0;
}
.restaurant__menu__items {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 5px 8px #d9d7d7;
  height: 70px;
  margin-top: 20px;
  overflow: hidden;
}
.restaurant__menu__items:hover .check__button {
  width: 80px;
}
.restaurant__menu__items:hover .fa-circle-check {
  transform: rotate(0deg);
}
.restaurant__menu__text {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}
.restaurant__menu h3, .restaurant__menu p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1100px) {
  .restaurant__menu h3, .restaurant__menu p {
    font-size: 16px;
  }
}
.restaurant__menu .price {
  width: 25px;
  padding: 0 15px;
  font-weight: bold;
}
.restaurant__menu .check__button {
  background: #99E2D0;
  width: 0;
  transition: 0.8s;
  text-align: center;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.restaurant__menu .fa-circle-check {
  color: #fff;
  font-size: 25px;
  line-height: 70px;
  transform: rotate(-180deg);
  transition: 500ms ease-in-out;
}

.btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
