@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

body{
    margin: 0;
}

.container{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    @include tablet{
        font-size: 17px;
    }
}

h, #logo{
    font-family: 'Shrikhand', cursive;
}

h2{
    font-size: 19px; 
    @include tablet{
        font-size: 24px;
    }
    }

h3{
    font-size: 17px;
    @include tablet{
        font-size: 19px;
    }
    }

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}