footer{
    padding: 20px;
    color: $white;
    line-height: 10px;
    background-color: #423e42;
    @include tablet{
        text-align: center;
    }
    img{
        width: 100px;
        margin-bottom: 10px;
        filter: invert(1);
        @include tablet{
            display: inline-block;
        }
    }
    a{
        color: $white;
        
    }
    li{
        padding-bottom: 15px;
        @include tablet{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .fa-handshake-angle, .fa-utensils{
        width: 30px;
    }
}