.fa-heart{
    font-size: 25px;
    /*transition: background 600ms ease-in-out;*/
    &:hover{
    @include button-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: heart-fill 800ms;
    }
}