.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $white;
    animation: loader 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    &--spinning{
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /*position: relative;*/
        border: 20px solid;
        border-color: $color-tertiary transparent;
        @include loader-animation;
            &::after{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 15px solid;
            border-color: transparent $color-primary;
            @include loader-position;
            @include loader-animation;
            }
            &::before {
                @include loader-position;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 10px solid;
                border-color: $color-secondary transparent;
                @include loader-animation;
            }
    }
}


      

