.restaurant__pic{
    height: 300px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.restaurant__menu{
    position: relative;
    margin-top: -30px;
    padding-bottom: 50px;
    border-radius: 30px 30px 0 0;
    background-color: $light-beige;
    &__name{
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       margin: 0 20px;
       @include desktop{
        margin: 0 40px;
        }
    }
    h1{
        font-family: 'Shrikhand', cursive;
    }
    &__categories{
        padding-bottom: 20px;
        @include desktop{
            display: flex;
            justify-content: center;
        }
    }
    &__starters, &__maincourses, &__desserts{
        margin: 20px 15px 50px 15px;
        @include desktop{
            width: 30%;
            font-size: 16px;
        }
    }
    h2{
        position: relative;
        margin-bottom: 40px;
        font-size: 19px;
        font-weight: normal;
        &::after{
            content: "";
            height: 3px;
            width: 45px;
            position: absolute;
            left: 0;
            top: 25px;
            background-color: $color-tertiary;
        }
    }
    &__items{
        display: flex;
        align-items:center;
        height: 70px;
        margin-top: 20px;
        overflow:hidden;
        background-color: $white;
        border-radius: 20px;
        @include button-shadow;
        &:hover{
            cursor: pointer;
        }
        &:hover .check__button{
            width: 80px;
        }
        &:hover .fa-circle-check{
            transform: rotate(0deg);
        }
    }
    &__text{
        width: 100%;
        overflow: hidden;
        padding: 10px;
    }
    h3, p{
        margin: 0;
        white-space: nowrap;
        @include overflow;
        @include desktop{
            font-size: 16px;
        }
    }
    .price{
        width: 25px;
        padding: 0 15px;
        font-weight: bold;
    }
    .check__button{
        width: 0;
        height: 100%;
        text-align: center;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiary;
        transition: 600ms ease-in-out;
    }
    .fa-circle-check{
        color:$white;
        font-size: 25px;
        line-height: 70px;
        transform: rotate(-180deg);
        transition: 600ms ease-in-out;
    }
    .first-item{
        @include item-animation;
    }
    .second-item{
        @include item-animation;
        animation-delay: 300ms;
    }
    .third-item{
        @include item-animation;
        animation-delay: 600ms;
    }
    .fourth-item{
        @include item-animation;
        animation-delay: 900ms;
    }
}
     
.btn{
    display: flex;
    justify-content: center;
}